<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form action="/student/register" method="post">
    <label>
      ID : <input type="text" name="id">
    </label>
    <br>
    <label>
      PWD : <input type="password" name="password">
    </label>
    <br>
    <label>
      이름 : <input type="text" name="name">
    </label>
    <br>
    <label>
      이메일 : <input type="email" name="email">
    </label>
    <br>
    <label>
      성적 : <input type="number" name="score">
    </label>
    <br>
    <label>
      평가 : <textarea name="evaluation"></textarea>
    </label>
    <br>
    <button type="submit"> 제출 </button>
  </form>
</body>
</html>